*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
  /* SASS WAY
  & > * {
     flex-basis: 30%;
     min-width: 15em;
   } */
}

/* NORMAL CSS WAY */
.split > * {
  flex-basis: 30%;
  min-width: 15em;
}


.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw+1rem), 4rem);
  line-height: 1;
  color: white;
  margin-bottom: 5rem;
  text-decoration: dotted;
}

.featured {
  background: #222;
  height: 100vh;
}

.featured_item {
  display: block;
  position: relative;
  transform: scale(0.85);
  /* TRANSITION WHEN HOVER */
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.featured_item:hover,
.featured_item:focus {
  transform: scale(1);
}

/* PRICE SHOW WHEN HOVER */
.featured_item:hover .featured_details,
.featured_item:focus .featured_details {
  opacity: 1.5;
  color: white;
}

.featured_item:after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 0% 0% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.featured_details {
  opacity: 0;
  transition: opacity 250ms linear;
}

.featured_details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}
